@model IEnumerable<ProjSurveyPro.ReviewQue>
@{
    ViewBag.Title = "ReviewQuesList";
    Layout = "~/Views/Master/ClientLayout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Review Question List</h2>
    </header>

    <!-- start: page -->
    <div data-appear-animation="fadeInRight">
        <div>
            <section class="panel" style="border: double;">
                <div class="panel-body">
                    <div class="invoice">
                        <header class="clearfix">
                            <div class="row">
                                <div class="col-sm-6 mt-md">
                                    <h2 class="h2 mt-none mb-sm text-dark text-bold">@ViewBag.ProductName</h2>
                                    <h4 class="h4 m-none text-dark text-bold">@ViewBag.ModelName</h4>
                                </div>
                                <div class="col-sm-6 text-right mt-md mb-md">
                                    <address class="ib mr-xlg">
                                        @ViewBag.CompName
                                        @ViewBag.SurveyId
                                        @*@ViewBag.UserId*@
                                        <br />
                                        @ViewBag.OwnerName
                                        <br />
                                        @ViewBag.ContactNo
                                        <br />
                                        @ViewBag.EmailID
                                    </address>
                                    <div class="ib">
                                        <img src="@Url.Content(@ViewBag.CompanyLogo)" alt="CompanyLogo" width="100" style="height:100px;"/>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <header class="clearfix">
                            <div class="text-left mb-md">
                                <div class="btn-group" style="margin-left: 16px">
                                    <a id="SurveyQuesList" class="btn btn-primary hidden-xs" 
                                        href="@Url.Action("AddSurveyQues", "Home",
                                                    new
                                                    {
                                                        area = "Client",
                                                        id = Session["ProductID"],
                                                        TSA = Session["TSA"],
                                                        Status = "Second"
                                                    })">Add <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </header>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                using (Html.BeginForm())
                                {
                            @Html.Hidden("SurveyId", item.SurveyID)
                            @Html.Hidden("QuestionID", item.QuestionID)
                            @Html.Hidden("CategoryID", item.CategoryID)
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-none">
                                        <tr>
                                            <td class="actions-hover actions-fade">
                                                <div class="col-md-12">
                                                    <p style="font-size: large; color: red; text-align: center;">Question</p>
                                                    @*@Html.Hidden(""item.AnswerCategory)*@
                                                    @Html.Raw(item.Question)
                                                    <br />
                                                </div>
                                                <div style="margin: auto;" align="right">
                                                    <a>
                                                        @Html.TextBox("Submit", "Update",
                                                                new
                                                                {
                                                                    type = "Submit",
                                                                    @class = "mb-xs mt-xs mr-xs btn btn-warning",
                                                                    formaction = "EditReviewQues",
                                                                    formmethod = "get"
                                                                })
                                                    </a>
                                                    <a>
                                                        @Html.TextBox("Submit", "Delete",
                                                                new
                                                                {
                                                                    type = "Submit",
                                                                    @class = "mb-xs mt-xs mr-xs btn btn-danger",
                                                                    formaction = "DeleteReviewQues",
                                                                })
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>    
                                }
                            }
                        }
                        else
                        {
                            <div class="form-group">
                                <table class="table table-hover mb-none">
                                    <tr>
                                        <td class="actions-hover actions-fade">
                                            <div class="col-md-12">
                                                <h6 style="color: red; text-align: center">No Review Question Available.</h6>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="text-center mr-lg" style="margin-left: 40px;">
                        <div class="col-sm-12" align="center">
                            <a id="Submit" class="btn btn-primary btn-lg" 
                                    href="@Url.Action("ProductPublishList", "Home", new { area = "Client" })">Submit Review</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="header-logo">
                                <div style="text-align: center;">
                                    <p>Powered By</p>
                                </div>
                                <div style="text-align: center;">
                                    <img src="~/Contents/appimg/FullLogo.png"
                                        width="120" height="80"
                                        alt="Survey Pro" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>
