@model ProjSurveyPro.ProductMst
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Master/ClientLayout.cshtml";
}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" lang="javascript">
        function readURLImg1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ProductImage1').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURLImg2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ProductImage2').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURLImg3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ProductImage3').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURLImg14(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ProductImage4').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>
<body>
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Update Product</h2>
        </header>
        <!-- start: page -->
        <div data-appear-animation="fadeInRight">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabs">
                        <ul class="nav nav-tabs tabs-primary">
                            <li class="active">
                                <a href="#ProductImages" data-toggle="tab">Product Images</a>
                            </li>
                            <li>
                                <a href="#ProductDetails" data-toggle="tab">Product Details</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="border: double;">
                            <div id="ProductImages" class="tab-pane active">
                                @using (Html.BeginForm("UpdateProductImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(model => model.ProductID)
                                    <fieldset class="mb-xl">
                                        <div class="form-group">
                                            <div class="col-md-6" align="center">
                                                <div class="thumb-info mb-md">
                                                    @if (Model.ProductImage1 != null)
                                                    {
                                                        <img id="ProductImage1" src="@Url.Content(Model.ProductImage1)" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                    else
                                                    {
                                                        <img id="ProductImage1" src="~/Contents/appimg/Product.png" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                </div>
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Select Photo</span>
                                                            <input type="file" name="ProductImage1" onchange="readURLImg1(this);" />
                                                            @Html.HiddenFor(model => model.ProductImage1)
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.ProductImage1, null, new { style = "color:red;" })
                                                    @if (Session["Image"] == "1")
                                                    {
                                                        <h6 style="color: red;">@ViewBag.Image1type</h6>   
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-6" align="center">
                                                <div class="thumb-info mb-md">
                                                    @if (Model.ProductImage2 != null)
                                                    {
                                                        <img id="ProductImage2" src="@Url.Content(Model.ProductImage2)" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                    else
                                                    {
                                                        <img id="ProductImage2" src="~/Contents/appimg/Product.png" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                </div>
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Select Photo</span>
                                                            <input type="file" name="ProductImage2" onchange="readURLImg2(this);" />
                                                            @Html.HiddenFor(model => model.ProductImage2)
                                                        </span>
                                                    </div>
                                                    @if (Session["Image"] == "1")
                                                    {
                                                        <h6 style="color: red;">@ViewBag.Image2type</h6>   
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6" align="center">
                                                <div class="thumb-info mb-md">
                                                    @if (Model.ProductImage3 != null)
                                                    {
                                                        <img id="ProductImage3" src="@Url.Content(Model.ProductImage3)" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                    else
                                                    {
                                                        <img id="ProductImage3" src="~/Contents/appimg/Product.png" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                </div>
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Select Photo</span>
                                                            <input type="file" name="ProductImage3" onchange="readURLImg3(this);" />
                                                            @Html.HiddenFor(model => model.ProductImage3)
                                                        </span>
                                                    </div>
                                                    @if (Session["Image"] == "1")
                                                    {
                                                        <h6 style="color: red;">@ViewBag.Image3type</h6>   
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-6" align="center">
                                                <div class="thumb-info mb-md">
                                                    @if (Model.ProductImage4 != null)
                                                    {
                                                        <img id="ProductImage4" src="@Url.Content(Model.ProductImage4)" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                    else
                                                    {
                                                        <img id="ProductImage4" src="~/Contents/appimg/Product.png" alt="Employee Image" height="220px" width="220px" text-align="center" />
                                                    }
                                                </div>
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Select Photo</span>
                                                            <input type="file" name="ProductImage4" onchange="readURLImg4(this);" />
                                                            @Html.HiddenFor(model => model.ProductImage4)
                                                        </span>
                                                    </div>
                                                    @if (Session["Image"] == "1")
                                                    {
                                                        <h6 style="color: red;">@ViewBag.Image4type</h6>   
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12" align="center">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            @*<i class="fa fa-file fileupload-exists"></i>*@
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Select Video</span>
                                                            <input type="file" name="Video" onchange="readURL(this);" />
                                                            @Html.HiddenFor(model => model.Video)
                                                        </span>
                                                    </div>
                                                    @if (Session["Image"] == "1")
                                                    {
                                                        <h6 style="color: red;">@ViewBag.Videotype</h6>   
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3" align="center">
                                            @Html.TextBox("btnSubmit", "Submit", new { type = "submit", @class = "btn btn-primary btn-lg" })
                                        </div>
                                    </div>
                                    <hr class="tell" />
                                    <div class="row">
                                        <div class="header-logo">
                                            <div style="text-align: center;">
                                                <p>Powered By</p>
                                            </div>
                                            <div style="text-align: center;">
                                                <img src="~/Contents/appimg/FullLogo.png"
                                                    width="120" height="80"
                                                    alt="Survey Pro" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div id="ProductDetails" class="tab-pane">
                                @using (Html.BeginForm("UpdateProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(model => model.ProductID)
                                    @Html.HiddenFor(model => model.ProductImage1)
                                    @Html.HiddenFor(model => model.ProductImage2)
                                    @Html.HiddenFor(model => model.ProductImage3)
                                    @Html.HiddenFor(model => model.ProductImage4)
                                    @Html.HiddenFor(model => model.Video)
                                    <fieldset class="mb-xl">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Product Name</label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(model => model.ProductName,
                                                                        new
                                                                        {
                                                                            type = "text",
                                                                            @class = "form-control",
                                                                            placeholder = "Enter Your Name",
                                                                            data_plugin_summernote = "Required"
                                                                        }
                                                                    )
                                                @Html.ValidationMessageFor(model => model.ProductName, null, new { style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Product Company</label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.ProductCompany,
                                                                            new
                                                                            {
                                                                                type = "text",
                                                                                @class = "form-control",
                                                                                placeholder = "Enter Product Company Name"
                                                                            }
                                                                        )
                                                @Html.ValidationMessageFor(model => model.ProductCompany, null, new { style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Model Name</label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.ModelName,
                                                                            new
                                                                            {
                                                                                type = "text",
                                                                                @class = "form-control",
                                                                                placeholder = "Enter Model Name"
                                                                            }
                                                                        )
                                                @Html.ValidationMessageFor(model => model.ModelName, null, new { style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Short Description</label>
                                            <div class="col-md-9">
                                                <div class="summernote" data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>
                                                    @Html.TextAreaFor(model => model.ShortDiscription,
                                                                            new
                                                                            {
                                                                                type = "text",
                                                                                @class = "form-control",
                                                                                data_plugin_summernote = "Required"
                                                                            }
                                                                        )
                                                    @Html.ValidationMessageFor(model => model.ShortDiscription, null, new { style = "color:red;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Brief Description</label>
                                            <div class="col-md-9">
                                                <div class="summernote" data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>
                                                    @Html.TextAreaFor(model => model.BriefDiscription,
                                                                            new
                                                                            {
                                                                                type = "text",
                                                                                @class = "form-control",
                                                                                data_plugin_summernote = "Required"
                                                                            }
                                                                        )
                                                    @Html.ValidationMessageFor(model => model.BriefDiscription, null, new { style = "color:red;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Specifications</label>
                                            <div class="col-md-9">
                                                <div class="summernote" data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>
                                                    @Html.TextAreaFor(model => model.Facility,
                                                                            new
                                                                            {
                                                                                type = "text",
                                                                                @class = "form-control",
                                                                                data_plugin_summernote = "Required"
                                                                            }
                                                                        )
                                                    @Html.ValidationMessageFor(model => model.Facility, null, new { style = "color:red;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Product Price</label>
                                            <div class="col-md-3 .col-md-offset-3">
                                                @Html.TextBoxFor(model => model.Price,
                                                                            new
                                                                            {
                                                                                type = "number",
                                                                                @class = "form-control",
                                                                                placeholder = "Enter Package Price",
                                                                                pattern = "^[0-9|.]*",
                                                                                style = "text-align:right"
                                                                            }
                                                                        )
                                                @Html.ValidationMessageFor(model => model.Price, null, new { style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Total Survey Amount</label>
                                            <div class="col-md-3 .col-md-offset-3">
                                                @Html.TextBoxFor(model => model.TotalSurveyAmt,
                                                                            new
                                                                            {
                                                                                type = "number",
                                                                                @class = "form-control",
                                                                                placeholder = "Enter Total Survey Amount",
                                                                                pattern = "^[0-9|.]*",
                                                                                style = "text-align:right"
                                                                            }
                                                                        )
                                                @Html.ValidationMessageFor(model => model.TotalSurveyAmt, null, new { style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Per Survey Amount</label>
                                            <div class="col-md-3 .col-md-offset-3">
                                                @Html.TextBoxFor(model => model.SurveyPerAmount,
                                                                            new
                                                                            {
                                                                                type = "number",
                                                                                @class = "form-control",
                                                                                placeholder = "Enter Per Survey Amount",
                                                                                pattern = "^[0-9|.]*",
                                                                                style = "text-align:right"
                                                                            }
                                                                        )
                                                @Html.ValidationMessageFor(model => model.SurveyPerAmount, null, new { style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">No of Survey</label>
                                            <div class="col-md-3 .col-md-offset-3">
                                                @Html.TextBoxFor(model => model.NoOfSurvey,
                                                                            new
                                                                            {
                                                                                type = "number",
                                                                                @class = "form-control",
                                                                                placeholder = "Max No. of Survey",
                                                                                pattern = "^[0-9]*",
                                                                                style = "text-align:right"
                                                                            }
                                                                        )
                                                @Html.ValidationMessageFor(model => model.NoOfSurvey, null, new { style = "color:red;" })
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3" align="center">
                                            @Html.TextBox("btnSubmit", "Submit", new { type = "submit", @class = "btn btn-primary btn-lg" })
                                        </div>
                                    </div>
                                    <hr class="tell" />
                                    <div class="row">
                                        <div class="header-logo">
                                            <div style="text-align: center;">
                                                <p>Powered By</p>
                                            </div>
                                            <div style="text-align: center;">
                                                <img src="~/Contents/appimg/FullLogo.png"
                                                    width="120" height="80"
                                                    alt="Survey Pro" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: page -->
</body>
</html>
