@model IEnumerable<ProjSurveyPro.SurveyAn>
@{
    ViewBag.Title = "ShowSurveyUser";
    Layout = "~/Views/Master/UserLayout.cshtml";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .item {
        width: 30px;
    }

    a {
        text-decoration: none;
    }

    .label {
        padding: 1px 3px 2px;
        font-size: 9.75px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        background-color: #bfbfbf;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-decoration: none;
    }

        .label.success {
            background-color: #46a546;
        }

    .item a p.new-label span {
        position: relative;
        content: 'Done';
    }

    .item:hover a p.new-label span {
        display: none;
    }

    .item:hover a p.new-label:after {
        content: 'ADD';
    }
</style>

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Show Survey</h2>
    </header>
    <div data-appear-animation="fadeInRight">
        <div>
            <section class="panel" style="border: double;">
                <div class="panel-body">
                    <div class="invoice">
                        <header class="clearfix">
                            <div class="row">
                                <div class="col-sm-6 mt-md">
                                    <h2 class="h2 mt-none mb-sm text-dark text-bold">@ViewBag.ProductName</h2>
                                    <h4 class="h4 m-none text-dark text-bold">@ViewBag.ModelName</h4>
                                </div>
                                <div class="col-sm-6 text-right mt-md mb-md">
                                    <address class="ib mr-xlg">
                                        @ViewBag.CompName
                                        @ViewBag.SurveyId
                                        @*@ViewBag.UserId*@
                                        <br />
                                        @ViewBag.OwnerName
                                        <br />
                                        @ViewBag.ContactNo
                                        <br />
                                        @ViewBag.EmailID
                                    </address>
                                    <div class="ib">
                                        <img src="@Url.Content(@ViewBag.CompanyLogo)" alt="CompanyLogo" width="100" style="height:100px;"/>
                                    </div>
                                </div>
                            </div>
                        </header>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                            @Html.Hidden("Category", item.CategoryMst.CategoryDisc)
                            @Html.Hidden("CategoryID", item.CategoryID)
                            @Html.Hidden("QuestionID", item.QuestionID)
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-none">
                                            <tr>
                                                <td class="actions-hover actions-fade">
                                                    <p style="font-size: large; color: red; text-align: center;">Question</p>
                                                    <h5><strong>@Html.Raw(item.SurveyQue.Question)</strong></h5>
                                                    <div class="col-md-12">
                                                        <p style="font-size: large;">
                                                            Question Type:&nbsp;@Html.DisplayFor(modelitem => item.CategoryMst.CategoryDisc)<br />
                                                            You Selected:&nbsp;@Html.DisplayFor(modelitem => item.Answer)
                                                        </p>
                                                    </div>
                                                    <br />
                                                    @if (item.CategoryMst.CategoryDisc == "Rating")
                                                    {
                                                        <fieldset class="starability-slot">
                                                            @if (item.Answer == 5)
                                                            {
                                                                <input type="radio" id="rate5" name="Rating" value="5" checked />
                                                                <label for="rate5">5 stars, amazing.</label>
                                                            }
                                                            @if (item.Answer == 4)
                                                            {
                                                                <input type="radio" id="rate4" name="Rating" value="4" checked />
                                                                <label for="rate4">4 stars, very good.</label>
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" id="rate4" name="Rating" value="4" />
                                                                if (item.Answer > 4)
                                                                {
                                                                <label for="rate5">4 stars, amazing.</label>
                                                                }
                                                            }
                                                            @if (item.Answer == 3)
                                                            {
                                                                <input type="radio" id="rate3" name="Rating" value="3" checked />
                                                                <label for="rate3">3 stars, average.</label>
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" id="rate3" name="Rating" value="3" />
                                                                if (item.Answer > 3)
                                                                {
                                                                <label for="rate5">3 stars, amazing.</label>
                                                                }
                                                            }
                                                            @if (item.Answer == 2)
                                                            {
                                                                <input type="radio" id="rate2" name="Rating" value="2" checked />
                                                                <label for="rate2">2 stars, not good.</label>
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" id="rate2" name="Rating" value="2" />
                                                                if (item.Answer > 2)
                                                                {
                                                                <label for="rate5">2 stars, amazing.</label>
                                                                }
                                                            }
                                                            @if (item.Answer == 1)
                                                            {
                                                                <input type="radio" id="rate1" name="Rating" value="1" checked />
                                                                <label for="rate1">1 star, terrible.</label>
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" id="rate1" name="Rating" value="1" />
                                                                if (item.Answer > 1)
                                                                {
                                                                <label for="rate5">1 stars, amazing.</label>
                                                                }
                                                            }
                                                        </fieldset>
                                                    }
                                                    else
                                                    {
                                                        if (item.Answer == 1)
                                                        {
                                                            if (item.CategoryMst.CategoryDisc == "Like-Dislike")
                                                            {
                                                        <div class="col-md-12">
                                                            <p style="font-size: large;">
                                                                You Have Selected:&nbsp;Like
                                                            </p>
                                                        </div>
                                                            }
                                                            else
                                                            {
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelitem => item.SurveyQue.Answer1)
                                                        </div>
                                                            }
                                                        }
                                                        if (item.Answer == 2)
                                                        {
                                                            if (item.CategoryMst.CategoryDisc == "Like-Dislike")
                                                            {
                                                        <div class="col-md-12">
                                                            <p style="font-size: large;">
                                                                You Have Selected:&nbsp;Like
                                                            </p>
                                                        </div>
                                                            }
                                                            else
                                                            {
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelitem => item.SurveyQue.Answer2)
                                                        </div>
                                                            }
                                                        }
                                                        if (item.Answer == 3)
                                                        {
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelitem => item.SurveyQue.Answer3)
                                                        </div>
                                                        }
                                                        if (item.Answer == 4)
                                                        {
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelitem => item.SurveyQue.Answer4)
                                                        </div>
                                                        }
                                                        if (item.Answer == 5)
                                                        {
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelitem => item.SurveyQue.Answer5)
                                                        </div>
                                                        }
                                                        if (item.Answer == 6)
                                                        {
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelitem => item.SurveyQue.Answer6)
                                                        </div>
                                                        }
                                                        if (item.Answer == 7)
                                                        {
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelitem => item.SurveyQue.Answer7)
                                                        </div>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            }
                        }
                        else
                        {
                            <div class="form-group">
                                <table class="table table-hover mb-none">
                                    <tr>
                                        <td class="actions-hover actions-fade">
                                            <div class="col-md-12">
                                                <h6 style="color: red; text-align: center">Not Attempt Any Question.</h6>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="text-center mr-lg" style="margin-left: 40px;">
                        <a href="@Url.Action("GiveSurvey", "Home", 
                        new { area = "User", SID = @ViewBag.SurveyID, PID = @ViewBag.ProductID, CID = @ViewBag.ClientID })"
                             class="mb-xs mt-xs btn btn-info" style="text-align:center;">Back To Survey</a>
                        <a href="@Url.Action("SurveySuccess", "Home", new { area = "User", SID = @ViewBag.SurveyID })" 
                            class="mb-xs mt-xs btn btn-info" style="text-align:center;">Submit Survey</a>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="header-logo">
                                <div style="text-align: center;">
                                    <p>Powered By</p>
                                </div>
                                <div style="text-align: center;">
                                    <img src="~/Contents/appimg/FullLogo.png"
                                        width="120" height="80"
                                        alt="Survey Pro" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

