@model ProjSurveyPro.HelpingQue
@{
    ViewBag.Title = "AddHelpingQue";
    Layout = "~/Views/Master/EmployeeLayout.cshtml";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .item {
        width: 30px;
    }

    a {
        text-decoration: none;
    }

    .label {
        padding: 1px 3px 2px;
        font-size: 9.75px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        background-color: #bfbfbf;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-decoration: none;
    }

        .label.success {
            background-color: #46a546;
        }

    .item a p.new-label span {
        position: relative;
        content: 'Done';
    }

    .item:hover a p.new-label span {
        display: none;
    }

    .item:hover a p.new-label:after {
        content: 'ADD';
    }
</style>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" lang="javascript">
        function Apanal() {
            var Category = $("#ddlCategory option:selected").text();
            var A1 = document.getElementById("Ans1");
            var A2 = document.getElementById("Ans2");
            var A3 = document.getElementById("Ans3");
            var A4 = document.getElementById("Ans4");
            var A5 = document.getElementById("Ans5");
            var A6 = document.getElementById("Ans6");
            var A7 = document.getElementById("Ans7");
            if (Category == "MCQ") {
                A1.style.display = "block";
                A2.style.display = "block";
                A3.style.display = "block";
                A4.style.display = "block";
                A5.style.display = "block";
                A6.style.display = "block";
                A7.style.display = "block";
            }
            else {
                A1.style.display = "none";
                A2.style.display = "none";
                A3.style.display = "none";
                A4.style.display = "none";
                A5.style.display = "none";
                A6.style.display = "none";
                A7.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Add Helping Question</h2>
        </header>

        <!-- start: page -->
        <div data-appear-animation="fadeInRight">
            <header class="panel-heading">
                <h2 class="panel-title" align="center">Add Helping Question</h2>
            </header>
            <section class="panel" style="border: double;">
                <div class="panel-body">
                    <div class="invoice">
                        <header class="clearfix">
                            @using (Html.BeginForm("AddHelpingQue", "Home", new { area = "Employee" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)
                                if (Session["Status"] == "Edit")
                                {
                                @Html.HiddenFor(model => model.QuestionID)
                                }
                                <div class="form-group">
                                    <div class="summernote" data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>
                                        @Html.Label("Question", null, new { @class = "col-sm-3 control-label text-right" })
                                        <div class="col-md-9">
                                            @Html.TextAreaFor(model => model.Question,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                data_plugin_summernote = "Required"
                                            }
                                        )
                                            @Html.ValidationMessageFor(model => model.Question, null, new { style = "color:red;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Category", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-sm-6">
                                        <div class="mb-md">
                                            @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.CList, "- Select Category -",
                                                    new { @class = "form-control mb-md", id = "ddlCategory", onchange = "Apanal();" })
                                            @Html.ValidationMessageFor(model => model.CategoryID, null, new { style = "color:red;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="Ans1" style="display: none;">
                                    @Html.Label("Answer", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.Answer1,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                rows = "2"
                                            }
                                        )
                                        @Html.ValidationMessageFor(model => model.Answer1, null, new { style = "color:red;" })
                                    </div>
                                </div>
                                <div class="form-group" id="Ans2" style="display: none;">
                                    @Html.Label("Answer", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.Answer2,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                rows = "2"
                                            }
                                        )
                                        @Html.ValidationMessageFor(model => model.Answer2, null, new { style = "color:red;" })
                                    </div>
                                </div>
                                <div class="form-group" id="Ans3" style="display: none;">
                                    @Html.Label("Answer", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.Answer3,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                rows = "2"
                                            }
                                        )
                                        @Html.ValidationMessageFor(model => model.Answer3, null, new { style = "color:red;" })
                                    </div>
                                </div>
                                <div class="form-group" id="Ans4" style="display: none;">
                                    @Html.Label("Answer", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.Answer4,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                rows = "2"
                                            }
                                        )
                                        @Html.ValidationMessageFor(model => model.Answer4, null, new { style = "color:red;" })
                                    </div>
                                </div>
                                <div class="form-group" id="Ans5" style="display: none;">
                                    @Html.Label("Answer", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.Answer5,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                rows = "2"
                                            }
                                        )
                                        @Html.ValidationMessageFor(model => model.Answer5, null, new { style = "color:red;" })
                                    </div>
                                </div>
                                <div class="form-group" id="Ans6" style="display: none;">
                                    @Html.Label("Answer", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.Answer6,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                rows = "2"
                                            }
                                        )
                                        @Html.ValidationMessageFor(model => model.Answer6, null, new { style = "color:red;" })
                                    </div>
                                </div>
                                <div class="form-group" id="Ans7" style="display: none;">
                                    @Html.Label("Answer", null, new { @class = "col-sm-3 control-label text-right" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.Answer7,
                                            new
                                            {
                                                type = "text",
                                                @class = "form-control",
                                                rows = "2"
                                            }
                                        )
                                        @Html.ValidationMessageFor(model => model.Answer7, null, new { style = "color:red;" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="text-align: center;">
                                        <br />
                                        @Html.TextBox("btnSubmit", "Submit", new { type = "submit", @class = "btn btn-primary btn-lg" })
                                        <a href="@Url.Action("HelpingQue", "Home", new { area = "Employee" })" class = "btn btn-primary btn-lg" }>Back</a>
                                    </div>
                                </div>
                                <hr class="tell" />
                                <div class="row">
                                    <div class="header-logo">
                                        <div style="text-align: center;">
                                            <p>Powered By</p>
                                        </div>
                                        <div style="text-align: center;">
                                            <img src="~/Contents/appimg/FullLogo.png"
                                                width="120" height="80"
                                                alt="Survey Pro" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </header>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>
</html>
