@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master/AdminLayout.cshtml";
}

<style type="text/css">
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
        }

        .hovereffect:hover img {
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
            filter: grayscale(1) blur(3px);
            -webkit-filter: grayscale(1) blur(3px);
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect h2 {
            text-transform: uppercase;
            text-align: center;
            position: relative;
            font-size: 17px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
        }

        .hovereffect a.info {
            display: inline-block;
            text-decoration: none;
            padding: 7px 14px;
            border: 1px solid #fff;
            margin: 50px 0 0 0;
            background-color: transparent;
        }

            .hovereffect a.info:hover {
                box-shadow: 0 0 5px #fff;
            }

        .hovereffect a.info, .hovereffect h2 {
            -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7);
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
            opacity: 0;
            filter: alpha(opacity=0);
            color: #fff;
            text-transform: uppercase;
        }

        .hovereffect:hover a.info, .hovereffect:hover h2 {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

    /*-----------*/
</style>

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Dashboard</h2>
    </header>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawAnnotations);

        function drawAnnotations() {

            var data = google.visualization.arrayToDataTable([
            ['', 'SurveyPro', { role: 'style' }],
            ['Active Client', @ViewBag.AClient, '#b87333'],

            ['Active User', @ViewBag.AUser, 'silver'],

            ['Package', @ViewBag.APackage, 'gold'],

            ['Total Question', @ViewBag.Question, 'purple']



            ]);
            var options = {
                title: 'SurveyPro Count Chart',
                annotations: {
                    alwaysOutside: true,
                    textStyle: {
                        fontSize: 50,
                        color: 'Red',
                        auraColor: 'Black'
                    }
                },
                hAxis: {
                    title: 'Key of SurveyPro',
                    format: 'Week',
                    viewWindow: {
                        min: [7, 30, 0],
                        max: [17, 30, 0]
                    }
                },
                vAxis: {
                    title: 'Count'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    <div id="chart_div" style="height: auto"></div>
    <div class="row"></div>
    <!-- start: page -->
    <div class="row">
        @*Second row*@
        <div class="col-md-6 col-lg-6 col-xl-4">
            <section class="panel panel-featured-left panel-featured-secondary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-secondary">
                                <i class="fa  fa-users"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Total Active Employee</h4>
                                <div class="info">
                                    <strong class="amount">#@ViewBag.AEmployee</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-featured-left panel-featured-secondary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-secondary">
                                <i class="fa  fa-cube"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">New Product Request</h4>
                                <div class="info">
                                    <strong class="amount"># @ViewBag.Product</strong>
                                </div>
                            </div>
                            <div class="summary-footer" style="display: block">
                                <a class="text-muted text-uppercase"
                                    href="@Url.Action("ActiveProduct", "Home", new { area = "Admin" })">(Approve Product Survey Payment)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-featured-left panel-featured-secondary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-secondary">
                                <i class="fa  fa-check-square-o"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Package Payment Request</h4>
                                <div class="info">
                                    <strong class="amount">#  @ViewBag.PurchasePackage</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase"
                                    href="@Url.Action("PurchasePackage", "Home", new { area = "Admin" })">(Approve Package Payment)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-featured-left panel-featured-secondary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-secondary">
                                <i class="fa  fa-check"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Request Of New Employee</h4>
                                <div class="info">
                                    <strong class="amount">#@ViewBag.NEmployee</strong>
                                </div>
                            </div>
                            <div class="summary-footer" style="display: block">
                                <a class="text-muted text-uppercase"
                                    href="@Url.Action("Employee", "Home", new { area = "Admin" })">(Approve Employee)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        @*Second row End*@
        <div class="col-md-6 col-lg-6 col-xl-4">
            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-xs">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa  fa-cubes"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title"><strong>Active SurveyPro Product</strong>- #@ViewBag.AProduct</h4>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase">(view all)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-xs">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa  fa-money"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title"><strong>SurveyPro Response For Product</strong>- #@ViewBag.TResponse</h4>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase">(view all)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-xs">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa  fa-bookmark-o "></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title"><strong>SurveyPro Feedback For Product</strong>- #@ViewBag.Feedback</h4>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase">(view all)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-xs">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-pied-piper-square"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title"><strong>New SurveyPro Package</strong>- #@ViewBag.NPackage</h4>
                            </div>
                            <div class="summary-footer" style="display: block">
                                <a class="text-muted text-uppercase"
                                    href="@Url.Action("Package", "Home", new { area = "Admin" })">(Approve Package)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-xs">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa  fa-bookmark-o"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title"><strong>New Query Request</strong>- #@ViewBag.Query</h4>
                            </div>
                            <div class="summary-footer" style="display: block">
                                <a class="text-muted text-uppercase"
                                    href="@Url.Action("Query", "Home", new { area = "Admin" })">(Give Response)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>


