@{
    ViewBag.Title = "MeetUs";
    Layout = "~/Views/Master/IndexLayout.cshtml";
}

<div role="main" class="main">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Meet Us</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Meet Us</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="word-rotator-title">The New Way to 
                    <strong class="inverted">
                        <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                            <span class="word-rotate-items">
                                <span>success.</span>
                                <span>advance.</span>
                                <span>progress.</span>
                            </span>
                        </span>
                    </strong>
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <p class="lead" align="justify">
                        Product reviews may be one of the most powerful. Why? 
                        Because 69% of customers are more likely to purchase a product from a site if it has product ratings and reviews.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <h3 class="heading-primary"><strong>Who</strong> We Are</h3>
                    <p align="justify">We're innovators, creators, technologists. We're passionate about building easy-to-use software that allows our clients to listen to their Users and make informed decisions.We Provide Helping Product Survey Question for Client. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <h3 class="heading-primary"><strong>What</strong> We do</h3>
                    <p align="justify">Marketing Survey are a great way to understand customer feedback on new product lines, features, or services. Marketing Surveys help you gain a real-time understanding of market needs to maintain a competitive edge. Capture key information to develop thorough marketing Survey strategy. Build an informed marketing strategy using the information collected in the questionnaire.</p>
                    <p>Users attempts Survey & Review questions for Particular Product and the points Credited In user’s <span class="alternative-font">E-Wallet</span>based on the survey Amount. </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <h3 class="heading-primary"><strong>What</strong> We Care About</h3>
                    <p>In one word: We aim to give you the best tools possible for collecting and analyzing your data and Provide Survey Results.</p>
                    <p>we're always here for you. Client satisfaction is our top priority.</p>
                    <p>we take your feedback to heart.</p>

                </div>
            </div>
        </div>

        <hr class="tall">

        <div class="container">
            <div class="row center">
                <div class="col-md-12">
                    <h1 class="mb-sm word-rotator-title">Survey Pro is
							
                    <strong class="inverted">
                        <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                            <span class="word-rotate-items">
                                <span>incredibly</span>
                                <span>especially</span>
                                <span>extremely</span>
                            </span>
                        </span>
                    </strong>
                        beautiful and fully responsive.
                    </h1>
                    <p class="lead">
                        Survey Pro leads to the true review and survey of the products from the Users and also helpful to all the clients to change the product according to the customer needs.
                    </p>
                </div>
            </div>

        </div>

        <div class="home-concept">
            <div class="container">

                <div class="row center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="process-image appear-animation" data-appear-animation="bounceIn">
                            <img src="/Contents/appimg/Strategy.png" alt="" />
                            <strong>Strategy</strong>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="300">
                            <img src="/Contents/appimg/Planning.png" alt="" />
                            <strong>Planning</strong>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="600">
                            <img src="/Contents/appimg/Build.png" alt="" />
                            <strong>Build</strong>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <div class="project-image" data-appear-animation="bounceIn" data-appear-animation-delay="800">
                            <img class="fc-slideshow" src="/Contents/appimg/Our%20Work.png" alt="" />
                            <strong class="our-work">Our Work</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr class="tall">

        <div class="container">
            <div class="row mt-xlg mb-xlg">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="thumb-info thumb-info-hide-wrapper-bg">
                        <span class="thumb-info-wrapper">
                            <img src="/Contents/appimg/team/Brunoi.jpg" class="img-responsive" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Brunoi</span>
                                <span class="thumb-info-type">Survey Pro</span>
                            </span>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="@Url.Action("http://www.facebook.com/")"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                <a href="@Url.Action("http://www.twitter.com/")"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                <a href="@Url.Action("http://www.linkedin.com/")"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="thumb-info thumb-info-hide-wrapper-bg">
                        <span class="thumb-info-wrapper">
                            <img src="~/Contents/appimg/team/Utsav.jpg" class="img-responsive" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Utsav</span>
                                <span class="thumb-info-type">Survey Pro</span>
                            </span>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="@Url.Action("http://www.facebook.com/")"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                <a href="@Url.Action("http://www.twitter.com/")"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                <a href="@Url.Action("http://www.linkedin.com/")"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="thumb-info thumb-info-hide-wrapper-bg">
                        <span class="thumb-info-wrapper">
                            <img src="~/Contents/appimg/team/Fazal.jpg" class="img-responsive" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Fazal</span>
                                <span class="thumb-info-type">Survey Pro</span>
                            </span>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="@Url.Action("http://www.facebook.com/")"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                <a href="@Url.Action("http://www.twitter.com/")"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                <a href="@Url.Action("http://www.linkedin.com/")"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="thumb-info thumb-info-hide-wrapper-bg">
                        <span class="thumb-info-wrapper">
                            <img src="/Contents/appimg/team/Dhyan.jpg" class="img-responsive" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Dhyan</span>
                                <span class="thumb-info-type">Survey Pro</span>
                            </span>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="@Url.Action("http://www.facebook.com/")"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                <a href="@Url.Action("http://www.twitter.com/")"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                <a href="@Url.Action("http://www.linkedin.com/")"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

